modules = ["nodejs-20"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Vite Development Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Increase File Watcher Limit"

[[workflows.workflow]]
name = "Vite Development Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5173

[[workflows.workflow]]
name = "Increase File Watcher Limit"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p"

[deployment]
run = ["sh", "-c", "npm run dev"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 5173
externalPort = 5173
