@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --pip-boy-green: #69c22e;
  --pip-boy-dark-green: #3e841e;
  --pip-boy-bg: #001a0e;
  --pip-boy-border: #57920d;
  --pip-boy-text: #69c22e;
}

body {
  background-color: #000;
  color: var(--pip-boy-text);
  font-family: "VT323", monospace;
  margin: 0;
  padding: 0;
}


.op-name {
  display: flex;
  flex-direction: column;
  justify-content: bottom;
  align-items: top;
  max-width: 98%;
  margin-bottom: 60px;
}

.ton-connect-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 40px;
  color: rgba(9, 255, 13, 0.889);
  background-color: var(--pip-boy-dark-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.pip-boy-container {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pip-boy-screen {
  flex-grow: 1;
  background-color: var(--pip-boy-bg);
  border: 4px solid var(--pip-boy-border);
  border-radius: 15px;
  box-shadow: 0 0 20px var(--pip-boy-green);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.pip-boy-header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10%;
  text-shadow: 0 0 10px var(--pip-boy-green);
}

.op-logo {
  width: 50%;
  height: auto;
  margin-bottom: 2px;
}




.pip-boy-button {
  background-color: var(--pip-boy-dark-green);
 
  border: 1px solid var(--pip-boy-border);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}
.logo {
  display: flex;
  max-width: 90%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.pip-boy-button:hover {
  background-color: var(--pip-boy-green);
  color: var(--pip-boy-bg);
}

.pip-boy-input {
  background-color: var(--pip-boy-bg);
  color: var(--pip-boy-text);
  border: 1px solid var(--pip-boy-border);
  padding: 8px;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

.scanline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 20%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.2)
  );
  background-size: 100% 6px;
  z-index: 2;
  pointer-events: none;
  opacity: 0.9;
  animation: scanlines 74s linear infinite;  
}
.glow-text {
  text-shadow: 0 0 2px var(--pip-boy-green);
}
@keyframes scanlines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.scanlines::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.1) 51%
  );
  background-size: 100% 4px;
  animation: scanlines 22s linear infinite;
  pointer-events: none;
}
@keyframes scanlines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}


.pip-boy-header {
  font-size: 2.5em;
  margin: 0;
  text-shadow: 0 0 5px var(--pip-boy-green);
}

.pip-boy-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.pip-boy-nav button {
  background-color: var(--pip-boy-dark-green);
  color: var(--pip-boy-green);
  border: 2px solid var(--pip-boy-green);
  padding: 10px 20px;
  font-family: 'VT323', monospace;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pip-boy-nav button:hover,
.pip-boy-nav button.active {
  background-color: var(--pip-boy-green);
  color: var(--pip-boy-bg);
}

.about {
  font-size: 24px;
}

.home {
  font-size: 24px;
}

.pip-boy-content {
  padding: 20px;
  border: 2px solid var(--pip-boy-green);
  min-height: 300px;
}

.balances-tab ul {
  list-style-type: none;
  padding: 0;
}

.balances-tab li {
  margin-bottom: 10px;
  font-size: 2em;
}

.balance {
  float: right;
}


.pip-boy-button:hover {
  background-color: var(--pip-boy-green);
  color: var(--pip-boy-bg);
}

.assign-buttons,
.transaction-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Add a glowing effect to simulate CRT phosphor */
@keyframes glow {
  0% {
    text-shadow: 0 0 3px var(--pip-boy-green);
  }
  50% {
    text-shadow: 0 0 1px var(--pip-boy-green), 0 0 15px var(--pip-boy-green);
  }
  100% {
    text-shadow: 0 0 3px var(--pip-body-green);
  }
}

.pip-boy-header {
  animation: glow 2s ease-in-out infinite;
}

/* ./src/styles/PipBoyWalletDashboard.css */

.connect-wallet .tc-connect-button {
  background-color: var(--pip-boy-green);
  
  border: 2px solid var(--pip-boy-green);
  font-family: 'VT323', monospace;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px 20px;
}

.connect-wallet .tc-connect-button:hover {
  background-color: var(--pip-boy-dark-green);

}
