/* HeartbeatChart.css */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.chartContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.chartContainer svg {
    position: absolute;
    top: 0;
    left: 0;
}
.chartContainer .chart {
    width: 100%;
    height: 100%;
}
.chartContainer .chart .line {
    fill: none;
    stroke: #000;
    stroke-width: 2;
}
.chartContainer .chart .line.red {
    stroke: #ff0000;
}
.chartContainer .chart .line.green {
    stroke: #00ff00;
}

.chartContainer .chart .axis {
    font-family: 'VT323', monospace;
    font-size: 0.8rem;
    fill: #000;
}

.chartContainer .chart .axis .domain {
    display: none;
}

.chartContainer .chart .axis .tick line {
    stroke: #000;
    stroke-width: 1;
}

.chartContainer .chart .axis .tick text {
    fill: #000;
}

.chartContainer .chart .axis .tick.minor line {
    stroke: #000;
    stroke-width: 1;
}

.chartContainer .chart .axis .tick.minor text {
    fill: #000;
}
